<div class="table">
  <table class="table__table">
    <thead class="table__header">
      <tr class="table__row">
        <th class="table__cell table__cell--small">Дата</th>
        <th class="table__cell table__cell--large">Автомобиль (марка, модель,
          гос.номер)</th>
        <th class="table__cell table__cell--large">Водитель</th>
        <th class="table__cell table__cell--middle">Тех-центр</th>
        <th class="table__cell table__cell--large">Операция</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
      <tr class="table__row">
        <td class="table__cell table__cell--small">14.03.2021</td>
        <td class="table__cell table__cell--large">Kia Ceed, 2008, М342КТ 18
        </td>
        <td class="table__cell table__cell--large">Малышев Алексей Антонович
        </td>
        <td class="table__cell table__cell--middle">ул. Союзная, 20</td>
        <td class="table__cell table__cell--large">Замена ступичного подшипника
        </td>
      </tr>
    </tbody>
  </table>
</div>
